In [1]:
import numpy as np
import pandas as pd

# using logistic Regression as the output will be 1 or 0
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
card_dataset = pd.read_csv('creditcard.csv')

In [3]:
card_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

## Checking number of missing and duplicate values in the dataset

In [5]:
card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
card_dataset.duplicated().sum()

1081

In [7]:
card_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Checking the number of Fraud and Real Transactions

In [8]:
card_dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

## Sepreating the Fraud and Real transactions

In [9]:
real = card_dataset[card_dataset['Class'] == 0]
fraud = card_dataset[card_dataset['Class'] == 1]

In [10]:
print(real.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

### Describing the Fraud and Real Columns

In [11]:
real.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

## Comparing the difference between real and fraud transactions

In [13]:
card_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
real_sample = real.sample(n = 492)

### Concatenating two dataframes

In [16]:
new_dataset = pd.concat([real_sample,fraud],axis=0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
99387,67096.0,-2.485606,0.284563,1.818020,0.830371,0.128201,2.081256,-0.858476,1.197226,0.078206,...,0.087602,0.765505,-0.687946,-0.954200,-0.239411,-0.225266,-0.220760,-0.801999,65.00,0
261877,160221.0,-0.771999,1.427055,-0.526116,-0.481845,0.612534,-0.560761,0.557243,0.424847,-0.247214,...,0.117722,0.496176,-0.290044,-0.468056,-0.179907,0.576709,0.117941,0.183564,4.74,0
41552,40734.0,1.423769,-0.207996,-0.036803,-0.587082,-0.707829,-1.570569,0.050365,-0.490329,-1.327630,...,0.224308,0.627031,-0.137445,0.781994,0.782805,-0.108539,-0.022041,0.007609,15.00,0
46908,42984.0,1.129974,0.234409,0.543704,1.064614,-0.177603,-0.078039,-0.091754,0.142543,-0.215284,...,-0.154396,-0.489847,0.123554,-0.045727,0.242666,-0.601113,0.032031,0.016035,8.00,0
23841,32946.0,-1.129372,0.357921,1.168585,-1.594127,-0.417900,-0.439878,-0.926979,-2.669776,-1.611163,...,-0.869074,1.532943,0.252111,0.419678,-0.137712,-0.283137,0.136076,0.130247,18.15,0

In [19]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96949.394309,0.210102,-0.000113,0.057609,-0.012654,-0.033472,-0.012318,0.000608,-0.018532,-0.019508,...,0.012554,-0.067274,-0.047648,-0.002036,-0.086645,-0.029686,-0.013357,0.004851,0.008939,85.314167
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Splitting the feature and target

In [21]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [22]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
99387    67096.0 -2.485606  0.284563  1.818020  0.830371  0.128201  2.081256
261877  160221.0 -0.771999  1.427055 -0.526116 -0.481845  0.612534 -0.560761
41552    40734.0  1.423769 -0.207996 -0.036803 -0.587082 -0.707829 -1.570569
46908    42984.0  1.129974  0.234409  0.543704  1.064614 -0.177603 -0.078039
23841    32946.0 -1.129372  0.357921  1.168585 -1.594127 -0.417900 -0.439878
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
99387  -0.858476  1.197226  0.078206  ... -0.394597  0.087602  0.765505
261877  0.557243  0.424847 -0.247214  ... -0.090241  0.117722  0.496176
41552   0.050365 -0.490329 -1.327630  ...  0.121327  0.224308  0.627031
46908  -0.091754  0.142543 -0.215284  ... -0.182172 -0.154396 -0.489847
23841  -0.926979 -2.669776 -1.611163  ...  0.560704 -0.869074  1.532943
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
99387  -0.687946 -0.954200 -0.239411 -0.225266 -0.220760 -0.801999   65.00
261877 -0.290044 -0.468056 -0.179907  0.576709  0.117941  0.183564    4.74
41552  -0.137445  0.781994  0.782805 -0.108539 -0.022041  0.007609   15.00
46908   0.123554 -0.045727  0.242666 -0.601113  0.032031  0.016035    8.00
23841   0.252111  0.419678 -0.137712 -0.283137  0.136076  0.130247   18.15
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [23]:
print(Y)

99387     0
261877    0
41552     0
46908     0
23841     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

## Splitting the training and testing data

In [24]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.2,random_state=2,stratify=Y)

In [25]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (196, 30) (788, 30)

## Model Training using Logistic Regression

In [26]:
model = LogisticRegression()

In [27]:
# training the model using the Logistic Regression model
model.fit(X_train,Y_train)

E:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Model Evaluation

In [28]:
# accuracy
X_train_Predict = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_Predict,Y_train)

In [29]:
print(training_data_accuracy)

0.9795918367346939

In [31]:
# accuracy finding the test data
X_test_predict = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict,Y_test)

In [32]:
print(test_data_accuracy)

0.9251269035532995